.testCss1 {
  grid-template-areas:"a b"
    "c d"

     "e       f"   ;
}

.testCss2 {
  color: lightblue;
}

.testCss3 {
  grid-template-areas:"a b";
}

.testCss3 {
  grid-template-areas:"a var(--test1)"
    "var(--test2) b";
}
